### Data Description

Customer ID - Unique identifier for each customer
Age - Age of the customer
Gender - Gender of the customer (Male/Female)
Item Purchased - The item purchased by the customer
Category - Category of the item purchased
Purchase Amount (USD) - The amount of the purchase in USD
Location - Location where the purchase was made
Size - Size of the purchased item
Color - Color of the purchased item
Season - Season during which the purchase was made
Review Rating - Rating given by the customer for the purchased item
Subscription Status - Indicates if the customer has a subscription (Yes/No)
Shipping Type - Type of shipping chosen by the customer
Discount Applied - Indicates if a discount was applied to the purchase (Yes/No)
Promo Code Used - Indicates if a promo code was used for the purchase (Yes/No)
Previous Purchases - The total count of transactions concluded by the customer at the store, excluding the ongoing transaction
Payment Method - Customer's most preferred payment method
Frequency of Purchases - Frequency at which the customer makes purchases (e.g., Weekly, Fortnightly, Monthly)

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel(r"C:\Users\LENOVO\Downloads\shopping.xlsx")
data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,NaN,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,NaN,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,NaN,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,NaN,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,NaN,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [3]:
data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### Clean the data..(missing values,outliers,type casting,duplicate,variance,...etc)

### missing values

In [4]:
data.isna().sum()

Customer ID               30
Age                        2
Gender                     5
Item Purchased             4
Category                   4
Purchase Amount (USD)      0
Location                   2
Size                       0
Color                      4
Season                     3
Review Rating              2
Subscription Status        2
Shipping Type              0
Discount Applied           7
Promo Code Used            7
Previous Purchases         0
Payment Method             4
Frequency of Purchases     3
dtype: int64

In [5]:
max_id = data['Customer ID'].max()   # customer id
data['Customer ID'].fillna(max_id + 1, inplace=True)

In [6]:
data["Age"].fillna(data["Age"].mode()[0],inplace = True)             # age

data["Gender"].fillna(data["Gender"].mode()[0],inplace = True)      # gender

data["Item Purchased"].fillna(data["Item Purchased"].mode()[0],inplace = True)  #Item Purchased

data["Category"].fillna(data["Category"].mode()[0],inplace = True) # category

data["Location"].fillna(data["Location"].mode()[0],inplace = True) # location

data["Color"].fillna(data["Color"].mode()[0],inplace = True) # color

data["Season"].fillna(data["Season"].mode()[0],inplace = True)  # season

data["Review Rating"].fillna(data["Review Rating"].mode()[0],inplace = True) # review rating

data["Subscription Status"].fillna(data["Subscription Status"].mode()[0],inplace = True) # subscription status

data["Discount Applied"].fillna(data["Discount Applied"].mode()[0],inplace = True) # discount applied

data["Promo Code Used"].fillna(data["Promo Code Used"].mode()[0],inplace = True)  # promo code used

data["Payment Method"].fillna(data["Payment Method"].mode()[0],inplace = True) # payment metod

data["Frequency of Purchases"].fillna(data["Frequency of Purchases"].mode()[0],inplace = True) # Frequency of Purchases

In [7]:
data.isna().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [8]:
data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,2653.0,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,2653.0,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,2653.0,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,2653.0,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,2653.0,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             2682 non-null   float64
 1   Age                     2682 non-null   float64
 2   Gender                  2682 non-null   object
 3   Item Purchased          2682 non-null   object
 4   Category                2682 non-null   object
 5   Purchase Amount (USD)   2682 non-null   int64
 6   Location                2682 non-null   object
 7   Size                    2682 non-null   object
 8   Color                   2682 non-null   object
 9   Season                  2682 non-null   object
 10  Review Rating           2682 non-null   float64
 11  Subscription Status     2682 non-null   object
 12  Shipping Type           2682 non-null   object
 13  Discount Applied        2682 non-null   object
 14  Promo Code Used         2682 non-null   object
 15  Previous Purchases      2682 non-null   int64
 16  Payment Method          2682 non-null   object
 17  Frequency of Purchases  2682 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 377.3+ KB

### Outliers

In [26]:
data[(data["Age"] < 0) | (data["Age"] > 100)] # age

data["Age"].fillna(data["Age"].mode()[0],inplace = True)

condition = (data["Review Rating"] < 0) | (data["Review Rating"] > 5)   # review rating

data["Review Rating"] = np.where(condition,3.5,data["Review Rating"])

In [28]:
data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.5,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,2653.0,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,2653.0,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,2653.0,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,2653.0,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,2653.0,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

### type casting

In [35]:
data["Age"] = data["Age"].astype("float32") # convert float64 to float32

data["Purchase Amount (USD)"] = data["Purchase Amount (USD)"].astype("int16") # convert int64 to int 16
  
data["Review Rating"] = data["Review Rating"].astype("float32") # convert float64 to float32

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             2682 non-null   float64
 1   Age                     2682 non-null   float32
 2   Gender                  2682 non-null   object
 3   Item Purchased          2682 non-null   object
 4   Category                2682 non-null   object
 5   Purchase Amount (USD)   2682 non-null   int16
 6   Location                2682 non-null   object
 7   Size                    2682 non-null   object
 8   Color                   2682 non-null   object
 9   Season                  2682 non-null   object
 10  Review Rating           2682 non-null   float32
 11  Subscription Status     2682 non-null   object
 12  Shipping Type           2682 non-null   object
 13  Discount Applied        2682 non-null   object
 14  Promo Code Used         2682 non-null   object
 15  Previous Purchases      2682 non-null   int64
 16  Payment Method          2682 non-null   object
 17  Frequency of Purchases  2682 non-null   object
dtypes: float32(2), float64(1), int16(1), int64(1), object(13)
memory usage: 340.6+ KB

### Duplicates

In [38]:
data[data.duplicated()]  # no duplicates in given data

Empty DataFrame
Columns: [Customer ID, Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Payment Method, Frequency of Purchases]
Index: []

### checking variance

In [48]:
data["Age"].var()  # age

269.90087890625

In [49]:
data["Gender"].unique()  # gender

data["Gender"].nunique()

1

In [50]:
data["Item Purchased"].unique() # item purchased  

data["Item Purchased"].nunique()

25

In [51]:
data["Category"].unique() # category 

data["Category"].nunique()

4

In [54]:
data["Purchase Amount (USD)"].var() #  Purchase Amount (USD)

567.6040154416098

In [55]:
data["Location"].unique() # location 

data["Location"].nunique()

50

In [56]:
data["Size"].unique() # size 

data["Size"].nunique()

4

In [57]:
data["Color"].unique() # color

data["Color"].nunique()

25

In [58]:
data["Season"].unique()  # season

data["Season"].nunique()

4

In [60]:
data["Review Rating"].var()  # Review Rating

0.507834792137146

In [64]:
data["Subscription Status"].unique()  # Subscription Status

data["Subscription Status"].nunique()

2

In [65]:
data["Shipping Type"].unique()  # Shipping Type

data["Shipping Type"].nunique()

6

In [67]:
data["Discount Applied"].unique()  # Discount Applied

data["Discount Applied"].nunique()

2

In [70]:
data["Promo Code Used"].unique()  # Promo Code Used

data["Promo Code Used"].nunique()

2

In [73]:
data["Previous Purchases"].unique()  #  Previous Purchases

data["Previous Purchases"].nunique()

50

In [75]:
data["Payment Method"].unique()  # Payment Method 

data["Payment Method"].nunique()

6

In [76]:
data["Frequency of Purchases"].unique()  # Frequency of Purchases 

data["Frequency of Purchases"].nunique()

7

### Dummy variable

In [78]:
pd.get_dummies(data["Category"])   # category

      Accessories  Clothing  Footwear  Outerwear
0               0         1         0          0
1               0         1         0          0
2               0         1         0          0
3               0         0         1          0
4               0         1         0          0
...           ...       ...       ...        ...
2677            1         0         0          0
2678            0         0         1          0
2679            0         1         0          0
2680            0         1         0          0
2681            1         0         0          0

[2682 rows x 4 columns]

In [79]:
pd.get_dummies(data["Size"])   # size

      L  M  S  XL
0     1  0  0   0
1     1  0  0   0
2     0  0  1   0
3     0  1  0   0
4     0  1  0   0
...  .. .. ..  ..
2677  0  0  1   0
2678  0  1  0   0
2679  0  1  0   0
2680  1  0  0   0
2681  0  1  0   0

[2682 rows x 4 columns]

In [80]:
pd.get_dummies(data["Season"])   # season

      Fall  Spring  Summer  Winter
0        0       0       0       1
1        0       0       0       1
2        0       1       0       0
3        0       1       0       0
4        0       1       0       0
...    ...     ...     ...     ...
2677     1       0       0       0
2678     1       0       0       0
2679     0       0       0       1
2680     0       0       1       0
2681     0       0       1       0

[2682 rows x 4 columns]

In [81]:
pd.get_dummies(data["Subscription Status"])   # Subscription Status

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2677   0    1
2678   0    1
2679   0    1
2680   0    1
2681   0    1

[2682 rows x 2 columns]

In [82]:
pd.get_dummies(data["Discount Applied"])   # Discount Applied

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2677   0    1
2678   0    1
2679   0    1
2680   0    1
2681   0    1

[2682 rows x 2 columns]

In [84]:
pd.get_dummies(data["Promo Code Used"])   # Promo Code Used

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2677   0    1
2678   0    1
2679   0    1
2680   0    1
2681   0    1

[2682 rows x 2 columns]

### Scalling

In [85]:
data["Age"].mean(),data["Age"].median()  # age

(44.2912, 44.0)

In [95]:
def standard(x):    # age
    n = (x - data["Age"].mean()) / data["Age"].std()
    return n
data["Age"] = data["Age"].apply(standard)

In [89]:
data["Purchase Amount (USD)"].mean(),data["Purchase Amount (USD)"].median()  # Purchase Amount (USD)

(59.50708426547353, 60.0)

In [96]:
def standard(x):    # Purchase Amount (USD)
    n = (x - data["Purchase Amount (USD)"].mean()) / data["Purchase Amount (USD)"].std()
    return n
data["Purchase Amount (USD)"] = data["Purchase Amount (USD)"].apply(standard)

In [91]:
data["Review Rating"].mean(),data["Review Rating"].median()  # review rating

(3.7500372, 3.700000047683716)

In [97]:
def standard(x):    # review rating
    n = (x - data["Review Rating"].mean()) / data["Review Rating"].std()
    return n
data["Review Rating"] = data["Review Rating"].apply(standard)

In [98]:
data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,0.651837,Male,Blouse,Clothing,-0.273126,Kentucky,L,Gray,Winter,-0.912173,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,-1.539456,Male,Sweater,Clothing,0.188584,Maine,L,Maroon,Winter,-0.350868,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,0.347490,Male,Jeans,Clothing,0.566348,Massachusetts,S,Maroon,Spring,-0.912173,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,-1.417718,Male,Sandals,Footwear,1.279901,Rhode Island,M,Maroon,Spring,-0.350868,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,6.130068,Male,Blouse,Clothing,-0.441021,Oregon,M,Turquoise,Spring,-1.473477,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,2653.0,1.564875,Male,Scarf,Accessories,-0.902732,Indiana,S,Yellow,Fall,-0.771846,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,2653.0,-1.235110,Male,Sneakers,Footwear,1.699638,Arizona,M,Yellow,Fall,0.350763,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,2653.0,1.382267,Male,Shirt,Clothing,0.188584,Hawaii,M,Silver,Winter,-1.052499,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,2653.0,-1.235110,Male,T-shirt,Clothing,-0.189179,Wisconsin,L,Silver,Summer,0.631415,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,2653.0,1.077921,Male,Gloves,Accessories,1.321874,Rhode Island,M,Silver,Summer,-1.192825,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

### shopping details of a male

In [99]:
data.drop("Gender",axis = 1,inplace = True)

In [100]:
data

,Customer ID,Age,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,0.651837,Blouse,Clothing,-0.273126,Kentucky,L,Gray,Winter,-0.912173,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,-1.539456,Sweater,Clothing,0.188584,Maine,L,Maroon,Winter,-0.350868,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,0.347490,Jeans,Clothing,0.566348,Massachusetts,S,Maroon,Spring,-0.912173,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,-1.417718,Sandals,Footwear,1.279901,Rhode Island,M,Maroon,Spring,-0.350868,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,6.130068,Blouse,Clothing,-0.441021,Oregon,M,Turquoise,Spring,-1.473477,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,2653.0,1.564875,Scarf,Accessories,-0.902732,Indiana,S,Yellow,Fall,-0.771846,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,2653.0,-1.235110,Sneakers,Footwear,1.699638,Arizona,M,Yellow,Fall,0.350763,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,2653.0,1.382267,Shirt,Clothing,0.188584,Hawaii,M,Silver,Winter,-1.052499,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,2653.0,-1.235110,T-shirt,Clothing,-0.189179,Wisconsin,L,Silver,Summer,0.631415,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,2653.0,1.077921,Gloves,Accessories,1.321874,Rhode Island,M,Silver,Summer,-1.192825,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly