In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\LENOVO\Downloads\Clean.xlsx")
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

### Clean the data..i.e Missing values,Outliers,duplicates and type casting in best possible way.

### Missing values

In [3]:
df.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [4]:
df["SepalLengthCm"].fillna(df["SepalLengthCm"].median(),inplace = True)  # sepallengthcm

df["SepalWidthCm"].fillna(df["SepalWidthCm"].median(),inplace = True)  # sepalwidthcm

df["PetalLengthCm"].fillna(df["PetalLengthCm"].median(),inplace = True)  # petalengthcm

df["Species"].fillna("Iris-setosa",inplace = True)  # species

In [5]:
df.isnull().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,5.8,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

In [7]:
df.head(10)

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,5.8,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
5,5,6,5.4,3.9,1.7,0,Iris-setosa
6,6,7,4.6,3.4,1.4,0,Iris-setosa
7,7,8,5.0,3.4,1.5,0,Iris-setosa
8,8,9,4.4,2.9,1.4,0,Iris-setosa
9,9,10,4.9,3.1,1.5,0,Iris-setosa

In [8]:
df.tail(10)

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
150,150,151,6.1,2.9,4.7,1,Iris-versicolor
151,151,152,5.6,2.9,3.6,1,Iris-versicolor
152,152,153,6.7,3.1,4.4,1,Iris-versicolor
153,153,154,5.6,3.0,4.5,1,Iris-versicolor
154,154,155,5.7,2.6,3.5,1,Iris-versicolor
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

### Outliers

In [9]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,5.8,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

In [10]:
import warnings
warnings.filterwarnings("ignore")

In [11]:
# using IQR method

Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
Lower = Q1 - (1.5*IQR)
Upper = Q3 + (1.5*IQR)

In [12]:
Lower

Unnamed: 0      -79.5000
Id              -78.5000
SepalLengthCm     3.3375
SepalWidthCm      2.0500
PetalLengthCm    -3.6500
PetalWidthCm     -1.5000
dtype: float64

In [13]:
Upper

Unnamed: 0       238.5000
Id               239.5000
SepalLengthCm      8.2375
SepalWidthCm       4.0500
PetalLengthCm     10.3500
PetalWidthCm       2.5000
dtype: float64

### using domain knowledge

In [14]:
condition = (df["SepalLengthCm"] > 8.0) | (df["SepalLengthCm"] < 0)  # sepallengthcm

df["SepalLengthCm"] = np.where(condition,6.0,df["SepalLengthCm"])

In [15]:
condition = (df["SepalWidthCm"] > 8.0) | (df["SepalWidthCm"] < 0) # sepalwidthcm

df["SepalWidthCm"] = np.where(condition,4.0,df["SepalWidthCm"])

In [16]:
condition = (df["PetalLengthCm"] > 8.0) | (df["PetalLengthCm"] < 0)  # sepallengthcm

df["PetalLengthCm"] = np.where(condition,7.0,df["PetalLengthCm"])

In [17]:
condition = (df["PetalWidthCm"] > 8.0) | (df["PetalWidthCm"] < 0) # petalwidthcm

df["PetalWidthCm"] = np.where(condition,6.0,df["PetalWidthCm"])

In [18]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0.0,Iris-setosa
1,1,2,4.9,3.0,1.4,0.0,Iris-setosa
2,2,3,5.8,3.2,1.3,0.0,Iris-setosa
3,3,4,4.6,3.1,1.5,0.0,Iris-setosa
4,4,5,5.0,3.6,1.4,0.0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1.0,Iris-versicolor
156,156,157,5.4,3.9,1.7,0.0,Iris-setosa
157,157,158,4.6,3.4,1.4,0.0,Iris-setosa
158,158,159,6.4,3.2,5.3,2.0,Iris-virginica
159,159,160,6.5,3.0,5.5,1.0,Iris-virginica

### Duplicates

In [19]:
df[df.duplicated()]  # there is no duplicates in rows in the given data

Empty DataFrame
Columns: [Unnamed: 0, Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

### Type Casting

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     160 non-null    int64
 1   Id             160 non-null    int64
 2   SepalLengthCm  160 non-null    float64
 3   SepalWidthCm   160 non-null    float64
 4   PetalLengthCm  160 non-null    float64
 5   PetalWidthCm   160 non-null    float64
 6   Species        160 non-null    object
dtypes: float64(4), int64(2), object(1)
memory usage: 8.9+ KB

In [21]:
df["SepalWidthCm"] = df["SepalWidthCm"].astype("float32") # converting float64 to float32

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     160 non-null    int64
 1   Id             160 non-null    int64
 2   SepalLengthCm  160 non-null    float64
 3   SepalWidthCm   160 non-null    float32
 4   PetalLengthCm  160 non-null    float64
 5   PetalWidthCm   160 non-null    float64
 6   Species        160 non-null    object
dtypes: float32(1), float64(3), int64(2), object(1)
memory usage: 8.3+ KB

In [23]:
df["SepalLengthCm"] = df["SepalLengthCm"].astype("float32") # converting float64 to float32

df["PetalWidthCm"] = df["PetalWidthCm"].astype("float32") # converting float64 to float32

df["PetalLengthCm"] = df["PetalLengthCm"].astype("float32") # converting float64 to float32

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     160 non-null    int64
 1   Id             160 non-null    int64
 2   SepalLengthCm  160 non-null    float32
 3   SepalWidthCm   160 non-null    float32
 4   PetalLengthCm  160 non-null    float32
 5   PetalWidthCm   160 non-null    float32
 6   Species        160 non-null    object
dtypes: float32(4), int64(2), object(1)
memory usage: 6.4+ KB

In [25]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0.0,Iris-setosa
1,1,2,4.9,3.0,1.4,0.0,Iris-setosa
2,2,3,5.8,3.2,1.3,0.0,Iris-setosa
3,3,4,4.6,3.1,1.5,0.0,Iris-setosa
4,4,5,5.0,3.6,1.4,0.0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1.0,Iris-versicolor
156,156,157,5.4,3.9,1.7,0.0,Iris-setosa
157,157,158,4.6,3.4,1.4,0.0,Iris-setosa
158,158,159,6.4,3.2,5.3,2.0,Iris-virginica
159,159,160,6.5,3.0,5.5,1.0,Iris-virginica